<h2 class="titulo-pagina">Membros</h2>
<br />
<table class="table align-middle">
  <thead >
    <tr>
      <th scope="col">
        <strong>#</strong>
      </th>
      <th>
        <strong scope="col">NOME</strong>
      </th>
      <th class="text-center">
        <strong scope="col">AÇÕES</strong>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  @for (member of members; track member.id) {
    <tr>
      <th scope="row"><a >{{member.id}}</a> </th>
      <td>{{member.nome}}</td>
      <td class="text-center">
          <button class="btn btn-secondary" type="button" (click)="memberClicked(member)"><i class="bi bi-eye-fill"></i></button>&nbsp;
          <button class="btn btn-primary" type="button" (click)="memberClicked(member)"><i class="bi bi-pencil-square"></i></button>
      </td>
    </tr>
  }
</tbody>
</table>
<router-outlet></router-outlet>